{% extends "base.html.twig" %}
{% block body %}
	<div class="trck_header">
		<div class="featured_img">
			<div class="img_container">
				<img class="img-fluid" src={{trick.getFeaturedImage.path}} alt="image de mise en avant du figure">
			</div>
			<h1 class="trick_name">
				{{trick.name}}
			</h1>
			{% if app.user == trick.author %}
				<div class="edit-btn">
					<a href="/edit/trick/{{trick.slug}}" class="bg-primary">
						<i class="fas fa-pencil-alt"></i>
					</a>
					<button data-bs-toggle="modal" data-bs-target="#deleteTrick" class="bg-danger">
						<i class="fas fa-trash-alt"></i>
					</button>
				</div>
			{% endif %}

		</div>
	</div>
	<div class="trick_files">
		{% for file in trick.files %}
			<div class="file">
				{% if file.typeFile == "image" %}
					<a href={{file.path}} data-lightbox="image-gallery">
						<img src={{file.path}} alt="image du trick">
					</a>
				{% else %}
					<span class="iframe-contaier">
						{{file.path | raw }}
					</span>
				{% endif %}
			</div>
		{% endfor %}
	</div>
	<div class="description">
		<p>
			{{trick.description}}
		</p>
	</div>
	<div class="infos">
		<ul>
			<li class="bg-primary">Date de création:
				{{trick.createdAt|date("d-m-Y H:i:s")}}
			</li>
			<li class="bg-success">Groupe:
				{{trick.groupeId.name}}
			</li>
			<li class="bg-info">Date de modification:
				{{trick.updateAt|date("d-m-Y H:i:s")}}
			</li>
		</ul>
	</div>
	<div class="comment">
		<h2>Commentaires</h2>
		{% if app.user %}
			<form action="/{{trick.slug}}/comment" method="post" class="comment-form">
				<input type="text" class="border-primary" placeholder="Ecrivez votre commentaire" name="comment">
				<button type="submit" class="btn btn-primary">Laissez un commentaire</button>
			</form>
		{% endif %}

		<div class="comments-container">
			{% set sortedComments = trick.comments | sort((a,b) => b.createdAt <=> a.createdAt) %}
			{% for comment in sortedComments %}
				<div class="comment-content">
					<div class="avatar">
						<img src={{comment.author.avatar.path | default("https://as2.ftcdn.net/v2/jpg/03/05/37/53/1000_F_305375322_2ZndLqWXETW0sgbm7LccoERzv6X7hNJZ.jpg")}} alt="image de l'auteur">
					</div>
					<div class="comment-infos">
						<div class="user-name bg-primary text-light">
							{{trick.author.userName}}
						</div>
						<div class="content">
							{{comment.content}}
						</div>
						<div class="date text-primary">
							{{comment.createdAt|date("d-m-Y H:i:s")}}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="modal" id="deleteTrick">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					Voulez-vous vraiment supprimer cette figure ?
				</div>
				<div class="modal-footer">
					<a href="/delete/trick/{{trick.slug}}" class="btn btn-danger">Oui</a>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
